/*a.scroll-to-top.ROUND_COLOR,*/
/*a.scroll-to-top.RECT_COLOR {*/
/*    background-color: #de002b;*/
/*}*/
/*a.scroll-to-top.ROUND_COLOR:hover,*/
/*a.scroll-to-top.RECT_COLOR:hover {*/
/*    background-color: #d2304a;*/
/*}*/
/*ul li::before {*/
/*    color: #cf0036;*/
/*}*/
/*.basket_print i {*/
/*    background-color: #c50026;*/
/*}*/
/*.rss_feed_icon {*/
/*    background: #cf0036;*/
/*    color: #000;*/
/*}*/
/*.start_promo .item i.title a,*/
/*.start_promo .item i.price a,*/
/*.start_promo .item i.title span,*/
/*.start_promo .item i.price span,*/
/*.start_promo .item span.main_wrap i:after,*/
/*.start_promo .item p span,*/
/*.wrap_tizer .wrap_outer,*/
/*.wrap_tizer .wrap_outer .outer_text,*/
/*.wrap_tizer .wrap_outer .inner_text {*/
/*    background: #d9002a;*/
/*}*/
/*.start_promo .item i.title span,*/
/*.start_promo .item i.price span {*/
/*    box-shadow: -4px 1px 0px 4px #d9002a, 4px 1px 0px 4px #d9002a;*/
/*}*/
/*.start_promo .item i.price span {*/
/*    box-shadow: -4px 0px 0px 4px #d9002a, 4px 0px 0px 4px #d9002a;*/
/*}*/
/*.module-map .infoBox .close_info:hover {*/
/*    background-color: #cf0036;*/
/*}*/
/*#header ul.menu.full > li.search_row #search-submit-button:hover,*/
/*#header ul.menu.full > li.search_row #search-submit-button.hover {*/
/*    border: transparent;*/
/*}*/
/*#header .catalog_menu ul.menu > li,*/
/*#header ul.menu.adaptive:not(.opened) li.menu_opener,*/
/*#header ul.menu.full.opened li:not(.search_row):hover,*/
/*#header ul.menu.full.opened li.current {*/
/*    border-bottom: 1px solid #970013;*/
/*}*/
/*#header .catalog_menu ul.menu > li:not(.current):not(.stretch):hover {*/
/*    border-bottom: 1px solid #9c0023;*/
/*    border-right: 1px solid #9c0023;*/
/*}*/
/*#header ul.menu.full.opened li:not(.search_row):hover,*/
/*#header ul.menu.full.opened li.current {*/
/*    border-top: 1px solid #d9002a;*/
/*}*/
/*#header .catalog_menu ul.menu > li.current > a {*/
/*    color: #fff;*/
/*    border-left: 1px solid #d40029;*/
/*}*/
/*#header .catalog_menu ul.menu > li {*/
/*    border-right: 1px solid #970013;*/
/*}*/
/*.header-cart-block .cart span.icon i {*/
/*    background-position: 0px -84px;*/
/*}*/
/*ul.menu li .child .child_wrapp,*/
/*.breadcrumbs .dropdown,*/
/*.authorization-cols .form-block {*/
/*    border-top: 2px solid #cf0036;*/
/*}*/
/*.catalog_detail ul.tabs.main_tabs {*/
/*    border-bottom: 2px solid #cf0036;*/
/*}*/
/*ul.menu li b.space,*/
/*.breadcrumbs .drop b.space,*/
/*.hint .triangle {*/
/*    border-bottom: 6px solid #cf0036;*/
/*}*/
/*.basket_button,*/
/*.basket_button span,*/
/*.button30,*/
/*.button30 span,*/
/*.popup .soc-avt .row a {*/
/*    color: #fff;*/
/*}*/
/*#bx-soa-order-form .btn.btn-default {*/
/*    background: #de002b;*/
/*    border-color: #de002b;*/
/*}*/
/*#bx-soa-order-form .btn.btn-default:hover {*/
/*    background: #fd0031;*/
/*    border-color: #fd0031;*/
/*}*/
/*ul.tabs li.cur .triangle,*/
/*.view-list .view-header i.triangle {*/
/*    border-top: 5px solid #c50026 !important;*/
/*}*/
/*.basket_button.add span {*/
/*    background-position: 0px -6px;*/
/*}*/
/*.basket_button.read_more span {*/
/*    background-position: 1px -448px;*/
/*}*/
/*.basket_button.added span {*/
/*    background-position: 0px -45px;*/
/*}*/
/*.front_slider_wrapp .extended_pagination > li.active i.triangle {*/
/*    border-right-color: #c50026;*/
/*}*/
/*.catalog_detail .extended_info a.compare_item i {*/
/*    background-position: -32px -65px;*/
/*}*/
/*.catalog_detail .extended_info a.wish_item i {*/
/*    background-position: 3px -72px;*/
/*}*/
/*.display_list a.compare_item i {*/
/*    background-position: -32px -3px;*/
/*}*/
/*.display_list a.wish_item i {*/
/*    background-position: -3px -2px;*/
/*}*/
/*.display_list a.compare_item:hover i,*/
/*.display_list a.compare_item.added i {*/
/*    background-position: -32px -65px;*/
/*}*/
/*.display_list a.wish_item:hover i,*/
/*.display_list a.wish_item.added i {*/
/*    background-position: -3px -63px;*/
/*}*/
/*.popup .form .form_head {*/
/*    border-bottom-color: #cf0036;*/
/*}*/
/*.item_slider .thumbs i.triangle {*/
/*    border-bottom: 5px solid #cf0036;*/
/*}*/
/*blockquote:before {*/
/*    background-color: #cf0036;*/
/*}*/
/*.module-gallery-list li .fancy_hover:hover {*/
/*    border: 2px solid #cf0036;*/
/*}*/
/*.smartfilter .bx_ui_slider_track .bx_ui_slider_range,*/
/*.bx_filter .bx_ui_slider_pricebar_V {*/
/*    background: #de002b;*/
/*}*/
/*.catalog_block .catalog_item .basket_button.read_more span {*/
/*    background-position: 1px -408px;*/
/*}*/
/*.catalog_block .catalog_item .basket_button.to-cart span {*/
/*    background-position: 0 -7px;*/
/*}*/
/*.catalog_block .catalog_item:hover .basket_button span {*/
/*    color: #fff;*/
/*    background-position: 0px -87px;*/
/*}*/
/*.catalog_block .catalog_item:hover .basket_button.read_more span {*/
/*    background-position: 1px -448px !important;*/
/*}*/
/*.catalog_item .basket_button.in-cart span,*/
/*.basket_button.in-cart span {*/
/*    background-position: 0px -127px !important;*/
/*}*/
/*.catalog_item:hover .item-title a,*/
/*.item:hover .info a,*/
/*.item:hover .name a,*/
/*.item:hover .title a,*/
/*.item .title a:hover {*/
/*    color: #c50026 !important;*/
/*}*/
/*.catalog_item:hover .basket_button.added span {*/
/*    color: #fff;*/
/*}*/
/*.bx_filter_container #modef .triangle,*/
/*.left_block .internal_sections_list .child_wrapp .triangle {*/
/*    border-right: 6px solid #cf0036;*/
/*}*/
/*#order_form_div .sale_order_table .ps_logo img:hover,*/
/*#order_form_div .sale_order_table .ps_logo input[type=radio]:checked + label img,*/
/*#order_form_div .sale_order_table.delivery label:hover img,*/
/*#order_form_div .sale_order_table.delivery input[type=radio]:checked + label img,*/
/*#order_form_div div.ps_logo.selected img,*/
/*#order_form_div .account label:hover img,*/
/*#order_form_div .account img.active {*/
/*    border: 2px solid #cf0036;*/
/*}*/
/*.front_slider_wrapp .extended_pagination > li.active span,*/
/*a.b-share-popup__item:hover .b-share-popup__item__text {*/
/*    color: #fff !important;*/
/*}*/
/*ul.tabs li.cur span,*/
/*ul.tabs li.cur:hover span,*/
/*.front_slider_wrapp a.read_more {*/
/*    color: #fff;*/
/*}*/
/*.left_menu > li.current >a,*/
/*.left_menu > li:not(.exit):hover {*/
/*    background: #cf0036;*/
/*}*/
/*a i.arrow b {*/
/*    background-position: -36px 0px;*/
/*}*/
/*.top-h-row .search #search-submit-button:hover i,*/
/*.top-h-row .search #search-submit-button.hover i {*/
/*    background-position: top center;*/
/*}*/
/*.catalog_detail a.compare_item:hover .icon i {*/
/*    background-position: -32px -65px;*/
/*}*/
/*.catalog_detail a.wish_item:hover .icon i {*/
/*    background-position: 2px -45px;*/
/*}*/
/*ul.menu li.current a i {*/
/*    background-position: -61px 0px;*/
/*}*/
/*.button30.ask_question span.show_form,*/
/*.button30.ask_question span.hide_form {*/
/*    background-position: 5px -605px;*/
/*}*/
/*.button30.ask_question span.hide_form {*/
/*    color: #000;*/
/*}*/
/*.button30.ask_question span.hide_form:hover {*/
/*    color: #fff;*/
/*}*/
/*.question-list .q .ic b {*/
/*    background-position: -38px -188px;*/
/*}*/
/*.question-list .q.op .ic b {*/
/*    background-position: -8px -188px;*/
/*}*/
/*.number_list a.current span {*/
/*    color: #fff !important;*/
/*}*/
/*.basket_button span,*/
/*.compare_button span {*/
/*    background-position: 0px -87px;*/
/*}*/
/*.bx_filter_container_title .hint.active .hint_icon,*/
/*.bx_filter_container_title .hint.active .hint_icon,*/
/*.bx_filter_container_title .hint.active .hint_icon:hover,*/
/*#header .basket_fly .opener .basket_count:not(.empty) .count {*/
/*    color: #fff;*/
/*}*/
/*.left_block .internal_sections_list li.item:hover > a,*/
/*.left_block .internal_sections_list li.item.cur > a {*/
/*    color: #fff;*/
/*}*/
/*.left_block .internal_sections_list li * {*/
/*    -webkit-transition: none;*/
/*    -moz-transition: none;*/
/*    -o-transition: none;*/
/*    transition: none;*/
/*}*/
/*a.compare_item i {*/
/*    background-position: -31px -1px;*/
/*}*/
/*a.wish_item i {*/
/*    background-position: -2px -1px;*/
/*}*/
/*a.compare_item:hover i {*/
/*    background-position: -31px -33px;*/
/*}*/
/*a.wish_item:hover i {*/
/*    background-position: -2px -32px;*/
/*}*/
/*a.compare_item.added i {*/
/*    background-position: -31px -63px;*/
/*}*/
/*a.wish_item.added i {*/
/*    background-position: -2px -62px;*/
/*}*/
/*.module_products_list .basket_button.to-cart span {*/
/*    background-position: 0 -7px;*/
/*}*/
/*.module_products_list .basket_button.to-cart:hover span {*/
/*    background-position: 0px -87px;*/
/*}*/
/*.basket_button.in-cart span {*/
/*    background-position: 0px -127px;*/
/*}*/
/*.popup .close:hover i,*/
/*.popup .grey .close i,*/
/*.popup-window-close-icon.popup-window-titlebar-close-icon:hover:after {*/
/*    background-position: -1px -59px;*/
/*}*/
/*.card_popup_frame.popup .but_row a.to_basket .icon i {*/
/*    background-position: -5px -170px;*/
/*}*/
/*.soc-serv-main .button30 span,*/
/*.reviews-expanded .button30.add_review span,*/
/*.catalog_detail .basket_button.one_click span,*/
/*.button30.review_preview span,*/
/*.popup .grey .pop-up-title {*/
/*    color: #000;*/
/*    text-shadow: 0 1px 0px rgba(255,255,255,0.5);*/
/*    -moz-text-shadow: 0 1px 0px rgba(255,255,255,0.5);*/
/*    -o-text-shadow: 0 1px 0px rgba(255,255,255,0.5);*/
/*    -webkit-text-shadow: 0 1px 0px rgba(255,255,255,0.5);*/
/*}*/
/*.module-order-history .status.delivered {*/
/*    color: #fff;*/
/*}*/
/*.jobs_wrapp .item a:not(.opened):hover .icon i,*/
/*.staff_wrapp .section .section_title:not(.opened):hover .icon i {*/
/*    background-position: -31px -33px;*/
/*}*/
/*.jobs_wrapp .item a.opened:hover .icon i,*/
/*.staff_wrapp .section .section_title.opened:hover .icon i {*/
/*    background-position: 0 -34px;*/
/*}*/
/*.button30.add_review span {*/
/*    background-position: 4px -286px;*/
/*}*/
/*.button30.send_review span {*/
/*    background-position: 4px -365px;*/
/*}*/
/*.card_popup_frame.popup .but_row a.to_delay .icon i {*/
/*    background-position: -48px -257px;*/
/*}*/
/*.compare_button span {*/
/*    background-position: -32px -64px;*/
/*}*/
/*#header .basket_fly .opener .basket_count .icon i {*/
/*    background-position: -7px -89px;*/
/*}*/
/*#header .basket_fly .opener .basket_count.empty:hover .icon i {*/
/*    background-position: -7px -47px;*/
/*}*/
/*#header .basket_fly .opener .basket_count.empty .icon i {*/
/*    background-position: -7px -5px;*/
/*}*/
/*#header .basket_fly .opener .wish_count .icon i {*/
/*    background-position: -48px -424px;*/
/*}*/
/*#header .basket_fly .opener .wish_count:hover .icon i {*/
/*    background-position: -48px -383px;*/
/*}*/
/*ul.menu li a {*/
/*    color: #000;*/
/*}*/
/*.catalog_menu ul.menu li a {*/
/*    color: #fff;*/
/*}*/
/*ul.menu li a i {*/
/*    background-position: -2px -20px;*/
/*}*/
/*.catalog_menu ul.menu li a i {*/
/*    background-position: -61px 0px;*/
/*}*/
/*a i.arrow.down b {*/
/*    background-position: -36px -35px;*/
/*}*/
/*.catalog_item:hover .basket_button span {*/
/*    color: #fff;*/
/*}*/
/*ul.specials_slider .basket_button span {*/
/*    background-position: 0 -7px;*/
/*}*/
/*ul.specials_slider .basket_button:hover span,*/
/*ul.specials_slider li:hover .basket_button span {*/
/*    background-position: 0px -87px;*/
/*}*/
/*ul.specials_slider  .basket_button.read_more span {*/
/*    background-position: 1px -408px;*/
/*}*/
/*ul.specials_slider li:hover .basket_button.read_more span {*/
/*    background-position: 1px -448px !important;*/
/*}*/
/*.top_slider_wrapp .flex-direction-nav li a.flex-next {*/
/*    background-position: -58px -60px;*/
/*}*/
/*.top_slider_wrapp .flex-direction-nav li:hover a.flex-prev {*/
/*    background-position: -3px -60px;*/
/*}*/
/*.top_slider_wrapp .flex-direction-nav li a.flex-prev {*/
/*    background-position: -3px 0px;*/
/*}*/
/*#header .basket_fly .opener .wish_count.empty:hover .icon i {*/
/*    background-position: -48px -341px;*/
/*}*/
/*#header .basket_fly .opener .wish_count.empty .icon i {*/
/*    background-position: -48px -299px;*/
/*}*/
/*#basket-root .basket-items-list-header-filter-item:not(.active) {*/
/*    color: #de002b;*/
/*}*/
/*#basket-root .basket-items-list-header-filter-item.active:before {*/
/*    background-color: #de002b;*/
/*}*/
/*#basket-root .basket-item-scu-item:hover,*/
/*#basket-root .basket-item-scu-item.selected,*/
/*#basket-root .basket-item-scu-item.not-available:hover {*/
/*    border-color: #de002b;*/
/*}*/
/*#basket-root .basket-items-list .basket-item-block-info .basket-items-list-item-warning-container .alert.alert-warning a[data-entity="basket-item-remove-delayed"]:before {*/
/*    background-color: #de002b;*/
/*}*/
/*#basket-root .basket-item-property-scu-text .basket-item-scu-item.selected {*/
/*    background-color: #de002b;*/
/*}*/
/*#basket-root .basket-coupon-block-coupon-btn {*/
/*    background-color: #de002b;*/
/*}*/
/*#basket-root .basket-checkout-section .btn.btn-default:not(.basket-btn-checkout) {*/
/*    border-color: #de002b;*/
/*    background-color: #de002b;*/
/*}*/
/*#basket-root .basket-checkout-section .btn.btn-default:hover,*/
/*body #basket-root .basket-checkout-section .btn.btn-default:active,*/
/*body #basket-root .basket-checkout-section .btn.btn-default:focus {*/
/*    border-color: #fd0031;*/
/*    background-color: #fd0031;*/
/*}*/
/*#basket-root #basket-warning {*/
/*    border-color: #de002b;*/
/*}*/
/*#bx-soa-order .bx-soa-section .bx-soa-section-title:before {*/
/*    background-color: #de002b;*/
/*}*/
/*#bx-soa-order div[class*=bx-sls] .quick-locations .quick-location-tag {*/
/*    border-color: #de002b;*/
/*    color: #de002b;*/
/*}*/
/*#bx-soa-order div[class*=bx-sls] .quick-locations .quick-location-tag:hover {*/
/*    background-color: #de002b;*/
/*    color: #fff;*/
/*}*/
/*#bx-soa-order .bx-soa .form-group .radio-inline.checked label:before,*/
/*#bx-soa-order .bx-soa .form-group .radio-inline label:hover:before,*/
/*#bx-soa-order .bx-soa-pp-company:hover .bx-soa-pp-company-graf-container:before,*/
/*#bx-soa-order .bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container:before {*/
/*    background-color: #de002b;*/
/*}*/
/*#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container,*/
/*#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company:hover .bx-soa-pp-company-graf-container {*/
/*    border-color: #de002b;*/
/*}*/
/*#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company:before,*/
/*#bx-soa-order .bx-soa-pp-desc-container .checkbox label:hover:before,*/
/*#bx-soa-order .bx-soa-pp-desc-container .checkbox label.checked:before {*/
/*    background-color: #de002b;*/
/*}*/
/*#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company:hover .bx-soa-pp-company-smalltitle,*/
/*#bx-soa-order .bx-soa-more .bx-soa-more-btn .pull-left {*/
/*    color: #de002b;*/
/*}*/
/*#bx-soa-order .bx-soa-coupon-input:hover:after,*/
/*#bx-soa-order .bx-soa-coupon-item .bx-soa-coupon-remove:hover {*/
/*    background-color: #de002b;*/
/*}*/
/*div[class*=bx-sls] .bx-ui-sls-clear:hover:before {*/
/*    background-color: #de002b !important;*/
/*}*/
/*.set_block .item .item_inner .image .quantity {*/
/*    background-color: #de002b;*/
/*}*/
/*@media all and (max-width: 950px) {*/
/*    .header_wrap.colored #header .center_block .main-nav {*/
/*        background: #d9002a;*/
/*    }*/
/*}*/
/*@media all and (max-width: 768px) {*/
/*    body .top_slider_wrapp .flex-direction-nav li a {*/
/*        background-image: url(../../images/arrows_big.png);*/
/*    }*/
/*    body .top_slider_wrapp .flex-direction-nav li a.flex-next {*/
/*        background-position: -30px -94px;*/
/*    }*/
/*    body .top_slider_wrapp .flex-direction-nav li a.flex-prev {*/
/*        background-position: 0 -127px;*/
/*    }*/
/*    body .top_slider_wrapp .flex-direction-nav li a.flex-prev:hover {*/
/*        background-position: 0 -94px;*/
/*    }*/
/*    body .color-controls .flex-control-paging li a.flex-active,*/
/*    body .color-controls .flex-control-paging li:hover a:not(.touch) {*/
/*        background: #d9002a;*/
/*        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYWFlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDhmYzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
/*        background: -moz-linear-gradient(top,#d9002a 0%,#bf001f 100%);*/
/*        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#d9002a),color-stop(100%,#bf001f));*/
/*        background: -webkit-linear-gradient(top,#d9002a 0%,#bf001f 100%);*/
/*        background: -o-linear-gradient(top,#d9002a 0%,#bf001f 100%);*/
/*        background: -ms-linear-gradient(top,#d9002a 0%,#bf001f 100%);*/
/*        background: linear-gradient(to bottom,#d9002a 0%,#bf001f 100%);*/
/*        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@bcolor_00aae2',endColorstr='@bcolor_008fc7',GradientType=0);*/
/*    }*/
/*}*/
/*@media all and (max-width: 600px) {*/
/*    #header ul.menu.full.opened > li,*/
/*    .has_menu #header .center_block .main-nav {*/
/*        background-color: #d9002a;*/
/*    }*/
/*    .has_menu #header .center_block .main-nav:hover {*/
/*        background: #de335a none repeat scroll 0 0;*/
/*    }*/
/*    #header ul.menu.full.opened li.current {*/
/*        background: #bf001f;*/
/*    }*/
/*}*/
/*@media all and (max-width: 550px) {*/
/*    body #footer .footer_inner .line {*/
/*        border-top: 4px solid #cf0036;*/
/*    }*/
/*    .basket_wrapp .empty_cart:not(.bcart) .wraps_icon_block.basket .count span,*/
/*    .basket_wrapp .basket_empty .wraps_icon_block.basket .count span {*/
/*        color: #FFF;*/
/*        background: #d9002a;*/
/*    }*/
/*}*/
/*#header .wrapper_middle_menu.wrap_menu ul.mobile_menu li:hover>a,*/
/*#header .wrapper_middle_menu.wrap_menu ul.mobile_menu li.opened>a,*/
/*#header .wrapper_middle_menu.wrap_menu ul.mobile_menu li.current > a {*/
/*    background: #de335a;*/
/*}*/
/*#header .wrapper_middle_menu.wrap_menu ul.menu.opened > li {*/
/*    background: #c50026;*/
/*}*/
/*.button.transparent,*/
/*.h_color_white .header_wrap .menu > li.current > a span,*/
/*.h_color_white.wrapper #header ul.menu li .child .child_wrapp,*/
/*.m_color_white.wrapper #header ul.menu li .child .child_wrapp,*/
/*.basket_normal .popup.card_popup_frame .basket_popup_wrapp,*/
/*.basket_sort ul.tabs li.cur div,*/
/*.smartfilter .bx_ui_slider_track .bx_ui_slider_handle,*/
/*.bx_filter .button,*/
/*.bx_filter_vertical input[type="checkbox"]:checked + label.sku,*/
/*.sku_props .bx_item_detail_size ul li.active,*/
/*.bx_size_scroller_container .bx_size ul li.bx_active,*/
/*.bx_filter .bx_filter_param_label.active .bx_filter_param_btn,*/
/*.bx_catalog_item_scu .bx_item_detail_scu ul li.active span.cnt,*/
/*.item_slider .thumbs li.current,*/
/*.popup-window.popup-window-titlebar .popup-window-top-row .popup-window-left-column,*/
/*.popup-window.popup-window-titlebar .popup-window-top-row .popup-window-center-column,*/
/*.popup-window.popup-window-titlebar .popup-window-top-row .popup-window-right-column,*/
/*.popup-window.popup-window-titlebar-light .popup-window-top-row .popup-window-left-column,*/
/*.popup-window.popup-window-titlebar-light .popup-window-top-row .popup-window-center-column,*/
/*.popup-window.popup-window-titlebar-light .popup-window-top-row .popup-window-right-column,*/
/*.bx_element input[type=radio]:checked + label .bx_logotype,*/
/*.bx_element label.selected .bx_logotype {*/
/*    border-color: #de002b;*/
/*}*/
/*a,*/
/*.link,*/
/*.button.transparent,*/
/*.button.transparent:hover,*/
/*.specials_slider_wrapp ul.tabs > li span,*/
/*.tab_slider_wrapp ul.tabs > li span,*/
/*.basket_wrapp .basket_block .link:hover + .wraps_icon_block + .text .title,*/
/*.stores .stores_list .item a span,*/
/*.phones .order_wrap_btn,*/
/*.footer_bottom .all_menu_block ul li a:hover,*/
/*.footer_bottom .submenu_top .menu_item a:hover,*/
/*.avtorization-call.enter:hover span,*/
/*.top-h-row .h-user-block a:hover,*/
/*ul.menu .child li.menu_item a,*/
/*#header .catalog_menu ul.menu > li.current > a,*/
/*ul.menu .child .depth3 a,*/
/*ul.menu .child li.menu_title a:hover,*/
/*#header ul.menu li .child.submenu .child_wrapp a:not(.title),*/
/*.img_block_capcha .reload,*/
/*.h_color_white .center_block .menu.full > li:hover > a,*/
/*.m_color_white #header .wrapper_middle_menu .menu.bottom > li:hover > a,*/
/*.m_color_white #header .wrapper_middle_menu .menu.bottom > li.hover > a,*/
/*body #header ul.menu li .child.line .child_wrapp > a:hover,*/
/*.basket_sort ul.tabs li .wrap_li > span *,*/
/*.basket_sort ul.tabs li .wrap_li > span,*/
/*.bx_filter_parameters_box_title:hover,*/
/*.bx_filter .bx_filter_popup_result a,*/
/*.left_block .internal_sections_list .child_wrapp .child li.cur > a,*/
/*.left_block .internal_sections_list .child_wrapp .child li.depth3 a.menu_item.cur,*/
/*.left_block .internal_sections_list .child_wrapp a:hover,*/
/*.ajax_load_btn:hover .more_text_ajax,*/
/*.breadcrumbs a:hover span,*/
/*.tabs-head li.current span,*/
/*.item-stock .store_view,*/
/*.reviews-post-reply-buttons a:hover,*/
/*h4.hover,*/
/*.button.transparent.white:hover,*/
/*.button.white_bg,*/
/*.item .child_container .child_wrapp .menu_item.current a,*/
/*.item .child_container .child_wrapp .menu_item:hover a {*/
/*    color: #c50026;*/
/*}*/
/*button.button,*/
/*input.button,*/
/*!*.button, //««« varizo [0000003911] 19.04.2021 »»» *!*/
/*#header ul.menu.full.opened li:not(.search_row):hover,*/
/*#header ul.menu.full > li.search_row #search-submit-button:hover,*/
/*table.title-search-result td.title-search-all a .icon,*/
/*.flex-direction-nav li:hover,*/
/*.flex-direction-nav li:first-child:hover,*/
/*.top_slider_wrapp .flex-direction-nav li:hover,*/
/*.like_icons .wish_item.added,*/
/*.like_icons .compare_item.added,*/
/*.light .stores .all_map,*/
/*.block_wr.dark,*/
/*.popup .close:hover,*/
/*.header_wrap #header .middle-h-row .logo_wrapp .logo a,*/
/*.h_color_colored .header_wrap #header,*/
/*.registraion-page .top p:after,*/
/*.has_menu.m_color_colored #header .catalog_menu,*/
/*.module-cart .remove-cell a:hover,*/
/*.cart_shell .remove-cell a:hover,*/
/*.bx_item_set_hor .bx_item_set_hor_item a.remove,*/
/*.bx_filter .bx_filter_popup_result,*/
/*.bx_filter .bx_filter_parameters_box_title:before,*/
/*.bx_filter_vertical input[type="checkbox"] + label:before,*/
/*.filter input[type="checkbox"] + label:before,*/
/*.filter input[type="radio"] + label:before,*/
/*.bx_filter label.pal:hover .bx_filter_param_btn,*/
/*.bx_filter .bx_filter_param_label.active .bx_filter_param_btn,*/
/*.bx_filter_vertical input[type="checkbox"]:checked + label.sku,*/
/*.left_block .internal_sections_list li.cur,*/
/*.left_block .internal_sections_list li:hover,*/
/*.left_block .internal_sections_list .title .inner_block:hover:before,*/
/*.left_block .internal_sections_list .child_wrapp .child li.depth3 a.menu_item.cur:before,*/
/*.left_block .internal_sections_list .child_wrapp .child li.depth3 a.menu_item:hover:before,*/
/*.left_block .internal_sections_list .child_wrapp ul.child li.cur:after,*/
/*.left_block .internal_sections_list .child_wrapp ul.child li:hover:after,*/
/*body #content .props_list tr td > span:before,*/
/*body #content .props_list tr td > .txt:before,*/
/*.module-pagination .nums .cur,*/
/*.more_text_ajax:before,*/
/*.captcha_reload:before,*/
/*.sku_props .bx_item_detail_size ul li.active,*/
/*.bx_size_scroller_container .bx_size ul li.bx_active,*/
/*.bx_catalog_item_scu .bx_item_detail_scu ul li.active span:not(.cnt_item),*/
/*.ik_select_list .ik_select_list_inner ul li.ik_select_active,*/
/*.bx_filter_select_popup ul li label.selected,*/
/*.filter_opener.opened,*/
/*.no_goods .no_products:before,*/
/*.wr_scrollbar .scrollbar .handle,*/
/*.remove:hover,*/
/*a i.arrow,*/
/*.popup-window-close-icon.popup-window-titlebar-close-icon:hover,*/
/*.bx_kit_item .bx_kit_item_add,*/
/*.catalog_detail .offers_table td.opener:hover .opener_icon,*/
/*.opener_icon:hover,*/
/*.char_name .hint .icon:hover,*/
/*.char_name .hint.active .icon,*/
/*.location-block-wrapper .bx-sls .bx-ui-sls-clear:before,*/
/*h4:hover .opener_icon,*/
/*.bg_block:before,*/
/*#order_form_div input[type="submit"],*/
/*.module-order-history .item_name:hover .icon,*/
/*.module-order-history .item_name:hover .icon,*/
/*.faq.list .item .q:hover .opener_icon,*/
/*.jobs_wrapp .item .name tr:hover .opener_icon {*/
/*    color: #FFF;*/
/*    background: #d9002a;*/
/*}*/
/*.bigs .flex-direction-nav li {*/
/*    color: #FFF;*/
/*    background: #d9002a;*/
/*}*/
/*.btn.btn-default {*/
/*    background-color: #de002b;*/
/*    border-color: #de002b;*/
/*    color: #ffffff;*/
/*}*/
/*.btn.btn-default:hover,*/
/*.btn.btn-default:active,*/
/*.btn.btn-default:focus {*/
/*    background-color: #fd0031;*/
/*    border-color: #fd0031;*/
/*}*/
/*.btn.btn-default.white:not(.grey) {*/
/*    color: #de002b !important;*/
/*    border: 1px solid #de002b;*/
/*    background: #ffffff;*/
/*}*/
/*.btn.btn-default.white:hover,*/
/*.btn-default.white:active,*/
/*.btn-default.white:focus {*/
/*    color: #ffffff !important;*/
/*    border-color: #de002b;*/
/*    background: #de002b;*/
/*}*/
/*.btn.btn-default.white.white-bg:hover,*/
/*.btn-default.white.white-bg:active,*/
/*.btn-default.white.white-bg:focus {*/
/*    color: #de002b !important;*/
/*    border-color: #de002b;*/
/*    background: #fff;*/
/*}*/
/*.btn.btn-primary {*/
/*    background-color: #00b290;*/
/*    border-color: #00b290;*/
/*}*/
/*.btn.btn-primary:hover,*/
/*.btn.btn-primary:active,*/
/*.btn.btn-primary:focus {*/
/*    background-color: #30c4a8;*/
/*    border-color: #30c4a8;*/
/*}*/
/*.btn.btn-success {*/
/*    background-color: #84bc29;*/
/*    border-color: #84bc29;*/
/*}*/
/*.btn.btn-success:hover,*/
/*.btn.btn-success:active,*/
/*.btn.btn-success:focus {*/
/*    background-color: #9dca53;*/
/*    border-color: #9dca53;*/
/*}*/
/*.btn.btn-info {*/
/*    background-color: #0ca9e3;*/
/*    border-color: #0ca9e3;*/
/*}*/
/*.btn.btn-info:hover,*/
/*.btn.btn-info:active,*/
/*.btn.btn-info:focus {*/
/*    background-color: #39baec;*/
/*    border-color: #39baec;*/
/*}*/
/*.btn.btn-warning {*/
/*    background-color: #f38b04;*/
/*    border-color: #f38b04;*/
/*}*/
/*.btn.btn-warning:hover,*/
/*.btn.btn-warning:active,*/
/*.btn.btn-warning:focus {*/
/*    background-color: #f8a132;*/
/*    border-color: #f8a132;*/
/*}*/
/*.btn.btn-danger {*/
/*    background-color: #dc130d;*/
/*    border-color: #dc130d;*/
/*}*/
/*.btn.btn-danger:hover,*/
/*.btn.btn-danger:active,*/
/*.btn.btn-danger:focus {*/
/*    background-color: #e63f3a;*/
/*    border-color: #e63f3a;*/
/*}*/
/*.btn.btn-transparent {*/
/*    background-color: rgba(255,255,255,0);*/
/*    border-color: rgba(255,255,255,0);*/
/*    color: #000000;*/
/*}*/
/*.btn.btn-transparent:hover,*/
/*.btn.btn-transparent:active,*/
/*.btn.btn-transparent:focus {*/
/*    background-color: #fd0031;*/
/*    border-color: #fd0031;*/
/*}*/
/*.btn.btn-transparent:hover {*/
/*    color: #ffffff;*/
/*}*/
/*.btn.btn-responsive-nav {*/
/*    background-color: #de002b;*/
/*}*/
/*.btn.btn-responsive-nav:hover {*/
/*    color: #de002b;*/
/*    border: 1px solid #de002b;*/
/*    background-color: #ffffff;*/
/*    padding: 4px 7px 2px;*/
/*}*/
/*.btn.btn-link {*/
/*    color: #de002b;*/
/*    border-color: #ff92a7;*/
/*}*/
/*.btn.btn-link:hover {*/
/*    color: #fd0031;*/
/*    border-color: transparent;*/
/*}*/
/*.btn.btn-link:active {*/
/*    color: #8c001b;*/
/*}*/
/*.btn.btn-default.wc.vert .fa {*/
/*    background-color: #de002b;*/
/*}*/
/*.btn.btn-default.wc.vert:hover .fa {*/
/*    background-color: #fd0031;*/
/*}*/
/*.btn.btn-transparent-border:hover {*/
/*    background-color: #de002b;*/
/*    border: 1px solid #de002b;*/
/*}*/
/*.btn-inline {*/
/*    color: #de002b;*/
/*}*/
/*.btn-inline.black:hover {*/
/*    color: #de002b;*/
/*}*/
/*.btn-inline.rounded:hover i {*/
/*    background: #de002b;*/
/*}*/
/*.popup-window-content-white .popup-window-buttons .btn {*/
/*    background-color: #de002b;*/
/*    border-color: #de002b;*/
/*}*/
/*.popup-window-content-white .popup-window-buttons .btn:hover {*/
/*    background-color: #fd0031;*/
/*    border-color: #fd0031;*/
/*}*/
/*body .fa.big-icon {*/
/*    background: #de002b;*/
/*}*/
/*body .fa.big-icon.grey {*/
/*    color: #de002b;*/
/*    background: #efefef;*/
/*}*/
/*.icon-text {*/
/*    color: #fff;*/
/*    background: #de002b;*/
/*}*/
/*.icon-text .fa {*/
/*    color: #fff;*/
/*}*/
/*.icon-text.grey {*/
/*    color: #222;*/
/*    background: #efefef;*/
/*}*/
/*.icon-text.grey .fa {*/
/*    color: #de002b;*/
/*}*/
/*.introtext {*/
/*    border-bottom-color: #de002b;*/
/*}*/
/*.preview-text-detail .colored_line {*/
/*    background-color: #de002b;*/
/*}*/
/*.sort_display a.current {*/
/*    background-color: #de002b;*/
/*}*/
/*.view_sale_block .quantity_block .values .item {*/
/*    background-color: #de002b;*/
/*}*/
/*footer .info .email a:hover {*/
/*    color: #de002b;*/
/*}*/
/*.logo.colored svg .icon-path {*/
/*    fill: #de002b;*/
/*}*/
/*.product-item-detail-tabs-container-fixed .product-item-detail-tabs-list li a:before {*/
/*    background-color: #de002b;*/
/*}*/
/*.product-item-detail-tabs-container-fixed .product-item-detail-tabs-list li.active a {*/
/*    color: #de002b !important;*/
/*}*/
/*#mobileheader .mobileheader-v2 {*/
/*    background: #de002b;*/
/*}*/
/*#mobilemenu .menu ul>li.selected a:before {*/
/*    background: #de002b;*/
/*}*/
/*#mobilemenu .contacts a:hover {*/
/*    color: #de002b;*/
/*}*/
/*#mobilemenu .menu>ul>li.counters .count {*/
/*    background: #de002b;*/
/*}*/
/*#headerfixed .menu-block.rows:hover {*/
/*    background-color: #de002b;*/
/*}*/
/*#headerfixed .menu-block .navs ul li.active > a,*/
/*#headerfixed .menu-block .navs ul li a:hover,*/
/*#headerfixed .menu-block .navs ul li a:focus {*/
/*    color: #de002b;*/
/*}*/
/*.top-block.colored {*/
/*    background: #de002b;*/
/*}*/
/*.top-block .social-icons li a:hover:before {*/
/*    background-color: #de002b;*/
/*}*/
/*.top-block .top-block-item  .inline-search-show:hover>span {*/
/*    color: #de002b;*/
/*}*/
/*.logo.colored img,*/
/*header .line-row,*/
/*#mobileheader .logo.colored img {*/
/*    background-color: #de002b;*/
/*}*/
/*.logo-row .top-callback .phone .fa,*/
/*.logo-row .top-callback .email .fa {*/
/*    background-color: #de002b;*/
/*}*/
/*.logo-row .top-callback .email,*/
/*.logo-row .top-callback .email a:hover {*/
/*    color: #fd0031;*/
/*}*/
/*.inline-search-block.fixed.big .search .close-block:hover .close-icons {*/
/*    background-color: #fd0031;*/
/*}*/
/*.head-block .item-link.active .title,*/
/*.head-block .item-link.active span,*/
/*.head-block .item-link.active .btn-inline {*/
/*    color: #de002b;*/
/*}*/
/*.head-block .item-link.active .title span:before,*/
/*.head-block .item-link.active .title .btn-inline:before {*/
/*    background: #de002b;*/
/*}*/
/*.search-tags-cloud .tags a:hover {*/
/*    background: #de002b;*/
/*}*/
/*.logo.colored a img {*/
/*    background-color: #d9002a;*/
/*}*/
/*.dark-color:hover,*/
/*a.colored,*/
/*.colored {*/
/*    color: #de002b;*/
/*}*/
/*.catalog_detail .bx-modal-container .btn.btn-add,*/
/*.personal_wrapper form input[type=submit] {*/
/*    color: #FFF;*/
/*    background: #de002b;*/
/*}*/
/*.catalog_detail .bx-modal-container .btn.btn-add:hover,*/
/*.personal_wrapper form input[type=submit]:hover {*/
/*    background: #fd0031;*/
/*}*/
/*.colored #header .catalog_menu ul.menu > li,*/
/*header .wrap_menu {*/
/*    background: #cf0028;*/
/*}*/
/*.tabs-head li.current:before {*/
/*    background-color: #d9002a;*/
/*}*/
/*.like_icons .compare_item.added i,*/
/*.like_icons .wish_item.added i {*/
/*    background-color: #d9002a;*/
/*}*/
/*.icon_error_block:after {*/
/*    background-color: #d9002a !important;*/
/*}*/
/*.flex-direction-nav li:first-child,*/
/*.flex-direction-nav li,*/
/*.flex-direction-nav li:hover {*/
/*    border-bottom-width: 0px;*/
/*}*/
/*.specials_slider_wrapp ul.tabs li.cur span,*/
/*.tab_slider_wrapp ul.tabs li.cur span,*/
/*.popup .popup-intro {*/
/*    border-bottom-color: #d02c47;*/
/*}*/
/*.button:hover,*/
/*.like_icons .compare_item.added:hover,*/
/*.like_icons .wish_item.added:hover,*/
/*.light .stores .all_map:hover {*/
/*    background: #d02c47;*/
/*}*/
/*html:not(.bx-touch) .like_icons .compare_item.added:hover i,*/
/*html:not(.bx-touch) .like_icons .wish_item.added:hover i {*/
/*    background-color: #d02c47;*/
/*}*/
/*.wrapper_middle_menu.wrap_menu.mobile:hover {*/
/*    background: #d02c47;*/
/*}*/
/*.header_wrap #header .catalog_menu.menu_colored .inc_menu  ul.menu > li:not(.current):hover > a {*/
/*    background: #ed002e;*/
/*}*/
/*header .menu_top_block li .dropdown>li:hover>a,*/
/*header .menu_top_block li:not(.catalog) .dropdown>li.current >a:not(.section),*/
/*header .menu_top_block li.catalog>.dropdown>li:hover>a:before {*/
/*    background: #de002b;*/
/*}*/
/*header .menu_colored .menu_top_block >li.current >a,*/
/*header .menu_dark .menu_top_block.menu >li.current >a,*/
/*header .menu_dark .menu_top_block.menu >li.current:hover >a,*/
/*.menu_top_block.catalog_block .dropdown >li.full:hover>a:before,*/
/*.menu_top_block.catalog_block .dropdown >li.full.current>a,*/
/*header .menu_top_block li.catalog>.dropdown>li.current>a,*/
/*.left_menu > li.current> a,*/
/*.left_menu > li:hover> a:before {*/
/*    background: #bf0025;*/
/*}*/
/*header .menu_top_block >li.catalog >a,*/
/*header .menu_top_block >li.catalog.current >a,*/
/*header .menu_top_block >li.catalog {*/
/*    background-color: #de002b;*/
/*}*/
/*header .catalog_menu .menu_top_block.menu li.catalog li.full.current >a:after,*/
/*header .catalog_menu .menu_top_block.menu li.catalog li.full:hover >a:after,*/
/*.menu_top_block.catalog_block .dropdown >li.full:hover>a:after,*/
/*.left_menu > li.has-childs:hover> a:after {*/
/*    color: #d40029;*/
/*}*/
/*header .menu_top_block li .dropdown>li.menu_item>a:hover,*/
/*.menu_top_block.catalog_block .dropdown>li.full>.dropdown>li>a:not(.section):hover,*/
/*.menu_top_block.catalog_block .dropdown>li.full:hover>a,*/
/*.left_menu > li:hover> a {*/
/*    color: #c50026;*/
/*}*/
/*.phone_block .phone_wrap .icons {*/
/*    color: #c50026;*/
/*}*/
/*header .menu_top_block li.catalog>.dropdown>li:hover>a,*/
/*header .menu_top_block li.catalog>.dropdown>li>.dropdown>li.current>a:not(.section) {*/
/*    color: #c50026;*/
/*}*/
/*header .menu_top_block li .dropdown>li.current >a.section1,*/
/*.menu_top_block li .dropdown>li >a.section1:hover,*/
/*#header .catalog_menu.menu_light ul.menu > li.current > a,*/
/*#header .catalog_menu.menu_light ul.menu > li:hover > a {*/
/*    color: #c50026;*/
/*}*/
/*.mega_fixed_menu .mega-menu table .wrap > .dropdown-menu .dropdown-submenu > a:hover>.arrow>i {*/
/*    background-color: #de002b;*/
/*}*/
/*.mega_fixed_menu .svg.svg-close:hover {*/
/*    background-color: #de002b;*/
/*}*/
/*.inline-search-block.bg-colored-block.show {*/
/*    background-color: #de002b;*/
/*}*/
/*.menu-row.bgcolored .wrap_icon:hover {*/
/*    background-color: #fd0031;*/
/*}*/
/*.logo_and_menu-row .burger:hover .svg-burger {*/
/*    background-color: #fd0031;*/
/*}*/
/*body .basket-link.basket-count .count {*/
/*    background-color: #de002b;*/
/*}*/
/*.logo_and_menu-row .basket-link:hover .title {*/
/*    color: #de002b;*/
/*}*/
/*.top-block-item  .basket-link:hover  .title {*/
/*    color: #de002b;*/
/*}*/
/*.top-btn:hover .svg:not(.inline) {*/
/*    background-color: #de002b;*/
/*}*/
/*.top-btn .svg.inline:hover svg path,*/
/*.top-btn:hover .svg.inline svg path,*/
/*.svg.inline:not(.colored):hover svg path,*/
/*a:hover .svg.inline path {*/
/*    fill: #de002b;*/
/*}*/
/*a:hover .svg:not(.inline) {*/
/*    background-color: #de002b;*/
/*}*/
/*.fill_bg_n .menu-row.bgcolored,*/
/*.fill_bg_y .menu-row.bgcolored > .maxwidth-theme {*/
/*    background-color: #de002b;*/
/*}*/
/*.menu-row.bgcolored .mega-menu table td:hover {*/
/*    background-color: #fd0031;*/
/*}*/
/*.menu-row.bgcolored .mega-menu table td.active {*/
/*    background-color: #b50023;*/
/*}*/
/*.mega-menu ul.nav li.active,*/
/*.mega-menu ul.nav li:hover {*/
/*    background-color: #de002b;*/
/*}*/
/*.mega-menu table td.active .wrap > a,*/
/*.mega-menu table td:not(.search-item):hover .wrap > a {*/
/*    color: #de002b;*/
/*}*/
/*.topmenu-LIGHT .mega-menu table td.active .wrap > .more-items span:before,*/
/*.topmenu-LIGHT .mega-menu table td:not(.search-item):hover .wrap > .more-items span:before {*/
/*    background-color: #de002b;*/
/*}*/
/*.mega-menu table td .wrap > a .line-wrapper .line {*/
/*    background-color: #de002b;*/
/*}*/
/*.topmenu-LIGHT .mega-menu table .tail {*/
/*    border-bottom: 6px solid #ca0027;*/
/*}*/
/*.mega-menu table .dropdown-menu li > a:hover,*/
/*.mega-menu table .dropdown-submenu:hover > a,*/
/*.mega-menu table .dropdown-submenu:hover > a:after {*/
/*    color: #de002b;*/
/*}*/
/*.mega-menu table .dropdown-menu li.active > a,*/
/*.mega-menu table .dropdown-submenu.active > a,*/
/*.mega-menu table .dropdown-submenu.active  > a:after {*/
/*    color: #de002b;*/
/*}*/
/*body .mega-menu table td .wrap > .dropdown-menu > li:first-of-type:before {*/
/*    background-color: #de002b;*/
/*}*/
/*.menu-row.middle-block.bglight .mega-menu table td.icon.sale_icon .wrap > a:before {*/
/*    background-color: #de002b;*/
/*}*/
/*.tabs .nav-tabs li.active a {*/
/*    color: #de002b;*/
/*}*/
/*.tabs .nav-tabs li.active a:before {*/
/*    background: #de002b;*/
/*}*/
/*.tabs .nav-tabs a:hover,*/
/*.tabs .nav-tabs a:active,*/
/*.tabs .nav-tabs a:focus {*/
/*    color: #de002b;*/
/*}*/
/*.catalog_detail .active .title-tab-heading,*/
/*.catalog_detail .title-tab-heading:focus,*/
/*.catalog_detail .title-tab-heading:active,*/
/*.catalog_detail .title-tab-heading:hover {*/
/*    color: #de002b;*/
/*}*/
/*.style-switcher .switch:hover {*/
/*    background: #de002b;*/
/*}*/
/*.style-switcher .header .header-inner {*/
/*    background-color: #de002b;*/
/*    border-color: #de002b;*/
/*}*/
/*.style-switcher .header .header-inner:hover,*/
/*.style-switcher .header .header-inner:active,*/
/*.style-switcher .header .header-inner:focus {*/
/*    background-color: #fd0031;*/
/*    border-color: #fd0031;*/
/*}*/
/*.style-switcher .header .save_btn:hover {*/
/*    background: #de002b;*/
/*}*/
/*.style-switcher .options > span.current:not(.block),*/
/*.style-switcher .options .link-item.current:not(.block) {*/
/*    background: #de002b;*/
/*}*/
/*.style-switcher .options .link-item.current.block {*/
/*    border-color: #de002b;*/
/*}*/
/*.style-switcher .tooltip-link:hover {*/
/*    background: #de002b;*/
/*    border-color: #de002b;*/
/*}*/
/*.style-switcher .options > div.base_color.current > span,*/
/*.style-switcher .options > div.base_color.current > span:hover {*/
/*    border-color: #de002b;*/
/*}*/
/*.style-switcher .left-block .section-block.active:before {*/
/*    background: #de002b;*/
/*}*/
/*.style-switcher .block-title .dotted-block {*/
/*    color: #de002b;*/
/*}*/
/*.uploader:hover .action {*/
/*    background-color: #fd0031;*/
/*    border-color: #fd0031;*/
/*}*/
/*p.drop-caps:first-child:first-letter {*/
/*    color: #de002b;*/
/*}*/
/*p.drop-caps.secundary:first-child:first-letter {*/
/*    background-color: #de002b;*/
/*}*/
/*.label-info {*/
/*    background-color: #de002b;*/
/*}*/
/*section.toggle label {*/
/*    color: #de002b;*/
/*    border-color: #de002b;*/
/*}*/
/*section.toggle.active > label {*/
/*    background-color: #de002b;*/
/*    border-color: #de002b;*/
/*}*/
/*.progress-bar-primary {*/
/*    background-color: #de002b;*/
/*}*/
/*.slider-container .tp-caption a:not(.btn):hover {*/
/*    color: #ff0838;*/
/*}*/
/*.tp-bullets .bullet.selected,*/
/*.tp-bullets .bullet:hover {*/
/*    background: #de002b !important;*/
/*}*/
/*.fa.colored {*/
/*    background: #de002b;*/
/*}*/
/*.page-top-wrapper.color {*/
/*    background: #de002b;*/
/*}*/
/*.bg_colored_block,*/
/*.popup_regions .items .item.current {*/
/*    background-color: #de002b;*/
/*}*/
/*.viewed_block .item_block:hover a {*/
/*    color: #de002b;*/
/*}*/
/*.basket_fill_COLOR .header-cart .basket_fly .opener {*/
/*    background: #c50026;*/
/*}*/
/*.basket_fill_COLOR .header-cart .basket_fly .opener >div:not(.basket_count):hover,*/
/*.basket_bottom_block.basket_fill_COLOR .maxwidth-theme .top-block-item .inner-table-block a:not(.basket):hover {*/
/*    background: #d40029;*/
/*}*/
/*.basket_fill_COLOR.basket_bottom_block {*/
/*    background: #c50026;*/
/*}*/
/*.basket_bottom_block .maxwidth-theme .top-block-item .inner-table-block a.basket {*/
/*    background: #ff0838;*/
/*}*/
/*#footer .footer_inner .line,*/
/*.basket_fly .opener .basket_count,*/
/*.page_not_found td.image img {*/
/*    background: #ff0838;*/
/*}*/
/*.basket_fly .opener .basket_count:hover,*/
/*.basket_bottom_block .maxwidth-theme .top-block-item .inner-table-block a.basket:hover {*/
/*    background: #ff2c54;*/
/*}*/
/*.subscribe-form input.send_btn {*/
/*    background-color: #d40029;*/
/*}*/
/*.bx_ordercart .bx_ordercart_order_pay .bx_bt_button {*/
/*    background: #de002b;*/
/*}*/
/*.left_block .subscribe-form .wrap_bg {*/
/*    background-color: #d40029;*/
/*}*/
/*.news_blocks .info_block .item:before {*/
/*    background-color: #d40029;*/
/*}*/
/*.bx_ordercart .bx_ordercart_order_pay .bx_bt_button:hover {*/
/*    background: #fd0031;*/
/*}*/
/*a .zoom {*/
/*    background: #de002b;*/
/*}*/
/*.bx_ordercart .bx_item_detail_size_small_noadaptive .bx_size ul li.bx_active a {*/
/*    background: #d02c47;*/
/*    color: #fff;*/
/*}*/
/*.bx_ordercart .bx_item_detail_size_small_noadaptive .bx_size ul li:not(.bx_active):hover a {*/
/*    color: #c50026;*/
/*}*/
/*a.dark_link:hover,*/
/*.dark_link:hover span,*/
/*.dl:hover a,*/
/*.selected a.dark_link,*/
/*.current a.dark_link {*/
/*    color: #c50026 !important;*/
/*}*/
/*.menu_top_block.catalog_block .dropdown>li.full>.dropdown>li>a,*/
/*body .menu_top_block.catalog_block .v_bottom li.current>a,*/
/*header .menu_top_block.catalogfirst li.full>.dropdown>li:not(.current)>a {*/
/*    color: #c50026;*/
/*}*/
/*.middle_phone .phone_wrap .icons,*/
/*.top_slider_wrapp .flexslider .slides > li:after {*/
/*    background-color: #d40029;*/
/*}*/
/*.basket_wrapp:not(.basket_fill_COLOR) .basket_fly .wraps_icon_block.delay .count span {*/
/*    background-color: #d40029;*/
/*}*/
/*.basket_normal .basket_wrapp .wraps_icon_block.basket .count span {*/
/*    background-color: #d40029;*/
/*}*/
/*.bx_filter .bx_filter_parameters_box_title:hover:after {*/
/*    color: #c50026;*/
/*}*/
/*.bx_filter .bx_filter_param_label.active .bx_filter_btn_color_icon,*/
/*.bx_catalog_item_scu ul li.active .cnt_item,*/
/*.bx_scu_scroller_container ul li.bx_active .cnt_item {*/
/*    box-shadow: 0px 0px 0px 2px #fff inset, 0px 0px 0px 2px #d40029;*/
/*}*/
/*.bx_filter_vertical input[type="checkbox"]:not(:checked) + label.sku:hover span,*/
/*.sku_props .bx_item_detail_size ul li:not(.active):hover span,*/
/*.bx_item_list_you_looked_horizontal .bx_item_detail_size ul li:hover span {*/
/*    color: #c50026;*/
/*}*/
/*.bx_filter_vertical input[type="checkbox"] + label.sku:hover,*/
/*.sku_props .bx_item_detail_size ul li:hover,*/
/*.bx_item_list_you_looked_horizontal .bx_item_detail_size ul li:hover {*/
/*    border-color: #c50026;*/
/*}*/
/*.more_text_ajax:after {*/
/*    background-color: #d40029;*/
/*}*/
/*.list_item .description_wrapp .like_icons span.added {*/
/*    color: #c50026;*/
/*}*/
/*.bx_ordercart .bx_sort_container a.current:after {*/
/*    background: #de335a;*/
/*}*/
/*.bx_ordercart .bx_ordercart_order_pay .bx_ordercart_order_pay_center .checkout {*/
/*    color: #de002b;*/
/*    border: 1px solid #de002b;*/
/*    background: #ffffff;*/
/*}*/
/*.bx_ordercart .bx_ordercart_order_pay .bx_ordercart_order_pay_center .checkout:hover {*/
/*    color: #fff;*/
/*    border-color: #de002b;*/
/*    background: #de002b;*/
/*}*/
/*.button.transparent:not(.text):hover {*/
/*    border-color: #de335a;*/
/*    background: #de335a;*/
/*    color: #fff;*/
/*}*/
/*.button.transparent.grey_br:hover {*/
/*    border-color: #de335a;*/
/*    background: #fff;*/
/*}*/
/*.bx_ordercart tbody td.control a:first-of-type:hover,*/
/*.bx_ordercart #basket_items_delayed tbody td.control a:last-of-type:hover,*/
/*.bx_ordercart #basket_items_subscribed  tbody td.control a:first-of-type:hover,*/
/*.bx_ordercart #basket_items_not_available  tbody td.control a:last-of-type:hover,*/
/*.bx_ordercart .bx_ordercart_order_pay .bx_ordercart_coupon:not(:first-of-type) > span:hover {*/
/*    background-color: #de335a;*/
/*}*/
/*.bx_ordercart .bx_sort_container a,*/
/*.bx_item_list_you_looked_horizontal .bx_catalog_item .bx_catalog_item_title a:hover,*/
/*.bx_item_list_you_looked_horizontal .bx_catalog_item:hover .bx_catalog_item_title a {*/
/*    color: #d40029;*/
/*}*/
/*.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo a,*/
/*.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blockone a {*/
/*    color: #FFF;*/
/*    background: #d40029;*/
/*}*/
/*.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo a:hover,*/
/*.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blockone a {*/
/*    background: #fd0031;*/
/*}*/
/*.sale_order_full_table input[name="BuyButton"] {*/
/*    background-color: #d9002a;*/
/*}*/
/*.sale_order_full_table input[name="BuyButton"] {*/
/*    background-color: #fd0031;*/
/*}*/
/*.bx_ordercart .bx_item_detail_size_small_noadaptive ul li:active a,*/
/*.bx_ordercart .bx_item_detail_size_small_noadaptive ul li.bx_active a,*/
/*.bx_ordercart .bx_item_detail_size_small_noadaptive ul li:hover a {*/
/*    border-color: #fd0031;*/
/*}*/
/*.color_link {*/
/*    color: #c50026 !important;*/
/*}*/
/*.detail .gallery-block .small-gallery ul.items li.flex-active-slide,*/
/*.detail .gallery-block .small-gallery ul.items li:hover {*/
/*    border-color: #de002b;*/
/*}*/
/*.page_error_block svg path {*/
/*    fill: #de002b;*/
/*}*/
/*.sale-personal-section-index-block-ico i,*/
/*.personal_wrapper .sale-personal-account-wallet-container .sale-personal-account-wallet-list-item:before {*/
/*    background-color: #de002b;*/
/*}*/
/*.sale-personal-section-index-block-ico i.fa {*/
/*    color: #de002b;*/
/*}*/
/*.sale-acountpay-fixedpay-list .sale-acountpay-fixedpay-item {*/
/*    border-color: #de335a;*/
/*    color: #c50026;*/
/*}*/
/*.sale-acountpay-fixedpay-list .sale-acountpay-fixedpay-item:hover {*/
/*    background-color: #de335a;*/
/*}*/
/*.bx-sap .sale-acountpay-pp-company.bx-selected .sale-acountpay-pp-company-graf-container,*/
/*.bx-sap .sale-acountpay-pp-company:hover .sale-acountpay-pp-company-graf-container,*/
/*.sale-order-payment-change-pp-company:hover .sale-order-payment-change-pp-company-image {*/
/*    border-color: #de335a !important;*/
/*}*/
/*.bx-sap .sale-acountpay-pp-company:not(.bx-selected):hover .sale-acountpay-pp-company-smalltitle,*/
/*.sale-order-payment-change-pp-company:hover .sale-order-payment-change-pp-company-smalltitle {*/
/*    color: #c50026 !important;*/
/*}*/
/*.bx-sap .sale-acountpay-pp-company.bx-selected .sale-acountpay-pp-company-graf-container:before,*/
/*.bx-sap .sale-acountpay-pp-company:not(.bx-selected):hover .sale-acountpay-pp-company-graf-container:before {*/
/*    background-color: #de002b;*/
/*    border: none;*/
/*}*/
/*.sale-personal-profile-list-container>tbody>tr>td:first-child b {*/
/*    color: #de002b;*/
/*}*/
/*.personal_wrapper .sale-profile-detail-link-list a:before {*/
/*    background-color: #de002b;*/
/*}*/
/*.personal_wrapper input[type=submit]:last-of-type,*/
/*.personal_wrapper .orders_wrapper .sale-order-list-inner-row:last-of-type > div:last-of-type a,*/
/*.personal_wrapper .orders_wrapper .sale-order-detail-about-order-inner-container-repeat .sale-order-detail-about-order-inner-container-repeat-cancel {*/
/*    border-color: #de002b;*/
/*    color: #de002b !important;*/
/*}*/
/*.personal_wrapper input[type=submit]:hover:last-of-type,*/
/*.personal_wrapper .orders_wrapper .sale-order-list-inner-row:last-of-type > div:last-of-type a:hover,*/
/*.personal_wrapper .orders_wrapper .sale-order-detail-about-order-inner-container-repeat .sale-order-detail-about-order-inner-container-repeat-cancel:hover {*/
/*    background: #de002b;*/
/*    color: #fff !important;*/
/*}*/
/*.personal_wrapper .orders_wrapper .row.col-md-12.col-sm-12 > a,*/
/*.sale-order-detail-about-order-inner-container-list-item-link {*/
/*    color: #de002b;*/
/*}*/
/*.personal_wrapper .orders_wrapper .sale-order-list-inner-row > div >a {*/
/*    background: #de002b;*/
/*}*/
/*.personal_wrapper .orders_wrapper .sale-order-list-inner-row > div >a:hover {*/
/*    background: #fd0031;*/
/*}*/
/*.personal_wrapper .orders_wrapper .sale-order-list-change-payment {*/
/*    color: #de002b;*/
/*}*/
/*.personal_wrapper .orders_wrapper .sale-order-list-button {*/
/*    background-color: #de002b;*/
/*}*/
/*.personal_wrapper .orders_wrapper .sale-order-list-button:hover {*/
/*    background-color: #fd0031;*/
/*}*/
/*.bx_my_order_cancel a,*/
/*.personal_wrapper .orders_wrapper .sale-order-list-inner-row>div>a.sale-order-list-cancel-payment {*/
/*    color: #de002b !important;*/
/*}*/
/*.personal_wrapper form[name=ShopForm] input[type=submit],*/
/*.personal_wrapper .sale-order-list-inner-row-template input[type=submit],*/
/*.personal_wrapper .sale-order-detail-inner-row-template input[type=submit],*/
/*.personal_wrapper .sale-order-payment-change-pp input[type=submit],*/
/*.personal_wrapper .orders_wrapper .sale-order-detail-about-order-inner-container-repeat .sale-order-detail-about-order-inner-container-repeat-button,*/
/*.personal_wrapper .sale-order-detail-payment-options-methods-button-element,*/
/*.personal_wrapper .sale-order-detail-payment-options-methods-button-element-new-window {*/
/*    background: #de002b;*/
/*    color: #fff !important;*/
/*}*/
/*.personal_wrapper form[name=ShopForm] input[type=submit]:hover,*/
/*.personal_wrapper .sale-order-list-inner-row-template input[type=submit]:hover,*/
/*.personal_wrapper .sale-order-detail-inner-row-template input[type=submit]:hover,*/
/*.personal_wrapper .sale-order-payment-change-pp input[type=submit]:hover,*/
/*.personal_wrapper .orders_wrapper .sale-order-detail-about-order-inner-container-repeat .sale-order-detail-about-order-inner-container-repeat-button:hover,*/
/*.personal_wrapper .sale-order-detail-payment-options-methods-button-element:hover,*/
/*.personal_wrapper .sale-order-detail-payment-options-methods-button-element-new-window:hover {*/
/*    background: #fd0031;*/
/*    border-color: transparent;*/
/*}*/
/*.reviews.item-views.front .item .image:before {*/
/*    background-color: #de002b;*/
/*}*/
/*.item-views .item .bottom-props .value {*/
/*    background-color: #de002b;*/
/*}*/
/*.bottom-menu .item:hover .title a,*/
/*.bottom-menu .item:hover .title,*/
/*.bottom-menu .item.active .title a,*/
/*.bottom-menu .item.active .title {*/
/*    color: #fd0031 !important;*/
/*}*/
/*footer .print-link:hover {*/
/*    color: #fd0031;*/
/*}*/
/*footer .print-link:hover svg path {*/
/*    fill: #fd0031;*/
/*}*/
